.divWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 220px;
    height: 330px;
    box-sizing: content-box;
    border: 1px solid #ededed;
    cursor: pointer;

    transition-duration: 200ms;

    &:hover{
        border-color: #ff915e;
    }

    [class~="preview"] {
        width: 220px;
        height: 220px;
        margin-bottom: 12px;
    }
}

.divDetail {
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    [class~=name]{
        font-size: 12px;
        
        &:hover{
            color: #ff5000;
            text-decoration: underline;
        }
    }

    [class~=price-purchase]{
        display: flex;
        justify-content: space-between;
        align-items: center;

        [class~=price]{
            color: #ff5000;
            font-size: 22px;

            em{
                font-size: 14px;
                font-style: normal;
                margin-right: 4px;
            }
        }

        [class~=purchase-count]{
            color: #888;
            font-size: 13px;
        }
    }
}
