@import "../common/theme";

.divWrapper {
    display: flex;
    background-color: #f7f9fa;

    width: 380px;
    padding: 11px;
    border: 1px solid transparent;
    border-radius: 12px;
    cursor: pointer;

    transition-duration: 500ms;

    &:hover {
        border-color: #ff915e;
    }

    > img[class~="preview"] {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin-right: 12px;
    }
}

.divDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > [class~="name"] {
        font-size: 16px;

        &:hover {
            color: $price-color;
        }
    }

    > [class~="price-purchase"] {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > [class~="price"] {
            color: $price-color;
            font-size: 22px;

            em {
                font-size: 14px;
                font-style: normal;
                margin-right: 4px;
            }
        }

        > [class~="purchase-count"] {
            color: #888;
            font-size: 13px;
        }
    }
}
