@import "./common/config";
@import "./common/theme";

.main{
    padding: 50px 130px 20px;
}

.divContentWrapper{
    width: 100%;

    padding: 40px 30px;

    background-color: white;

    border-radius: 18px;

    box-shadow: 0 6px 20px 0 rgb(37 43 50 / 10%);
}

.divSearchRowWrapper{
    padding: 0 80px;
}

.divItemShowWrapper{
    position: relative;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    [class~=refresh]{
        position: absolute;
        top: 0;
        right: -90px;

        background-color: rgba(255,255,255,0.8);
        
        line-height: 12px;

        width: 40px;
        padding: 9px;
        
        border: 1px solid #E3E5E7;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        user-select: none;
        
        transition-duration: 200ms;

        &:hover{
            background-color: #f2f2f2;
        }

        &:active{
            transform: scale(0.95) translateZ(0);
        }

        [class~=text]{
            width: 1em;
            margin-top: 6px;
        }
    }
}

.divEmptyWrapper{
    margin: 110px 0;
}