@import "./common/config";
@import "./common/theme";

.header {
    font-size: 12px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    [class="login"] {
        color: $main-color;
        cursor: pointer;
    }
}

// .divLogo{
//   img{
//     height: calc( $navbar-height * 0.7);
//     width: calc( $navbar-height * 0.7 * 218 / 186);
//   }
// }
